name: Metrics

on:
  # Schedule updates (daily)
  schedule: [{ cron: "* 0 * * *" }]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: { branches: ["master", "main"] }

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: GitHub Actions
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: xp4u1
          template: classic
          base: header, activity, repositories, metadata
          base_indepth: yes
          config_timezone: Europe/Berlin
          plugin_languages: yes
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_ignored: MDX, HTML, CSS, SCSS, Sass, Swift, C, TeX
          plugin_languages_limit: 4
          plugin_languages_sections: most-used
          plugin_traffic: yes
